.homepage{
  background-color: #fff;
  overflow: hidden;
}
.header{
  background-image: url("https://i.pinimg.com/originals/2c/84/5a/2c845a66b8ad2a8aafd288bdc16cd459.jpg");
  background-color: #cccccc;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
}
.name-title{
  font-size: 100px;
  letter-spacing: 15px;
}
.my-majoy{
  font-size: 30px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}
.middle{
  background-image: url("https://thuthuatnhanh.com/wp-content/uploads/2019/10/anh-anime-girl-ngau-lanh-lung-cam-kiem.png");
  background-color: #cccccc;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
  transition: 1s;
}
.about-me-image{
  height: 300px;
  width: 300px;
  border-radius: 150px;
}
.about-title{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;

}
.about-content{
  font-size: 24px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}
.btn-connect{
  background-color: aqua;
  border: none;
  padding: 10px 30px 10px 30px;
  transition: 0.5s;
}
.btn-connect:hover{
  background-color: transparent;
  color: #fff;
  transition: 0.5s;
  box-shadow: 0px 0px 30px cyan;
}

.middle1{
  background-image: url("https://airwallpaper.com/wp-content/uploads/wall003/4k-Anime-Wallpaper-HD-1080p-scaled.jpg");
  background-color: #cccccc;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
  transition: 1s;
}

.middle2{
  background-image: url("https://wallpaperbat.com/img/465341-4k-animated-wallpaper-dream-in-2020-hd-anime-wallpaper-anime-scenery-wallpaper-anime-wallpaper.jpg");
  background-color: #cccccc;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-attachment: fixed;
  transition: 1s;
}
.my-degree-image{
  height: 250px;
  width: 250px;
  border-radius: 150px;
  transition: 1s;
}
.my-degree-image:hover{
  transform: scale(1.2);
  transition: 1s;
}
.my-degree-title{
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
}
.my-degree-content{
  font-size: 20px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 1024px){
  .header{
    height: 500px;
    transition: 1s;
  }
  .name-title{
    font-size: 60px;
    letter-spacing: 15px;
  }
  .my-majoy{
    font-size: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .about-me-image{
    height: 220px;
    width: 220px;
    border-radius: 150px;
    transition: 1s;
  }
  .about-title{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  
  }
  .about-content{
    font-size: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .middle{
    height: 400px;
    transition: 1s;
  }
  .middle1{
    height: 400px;
    transition: 1s;
  }
  
  .middle2{
    height: 400px;
    transition: 1s;
  }
  .my-degree-image{
    height: 230px;
    width: 230px;
    border-radius: 150px;
    transition: 1s;
  }
  .my-degree-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  }
  .my-degree-content{
    font-size: 18px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
}

@media screen and (max-width: 991px){
  .header{
    height: 450px;
    transition: 1s;
  }
  .name-title{
    font-size: 60px;
    letter-spacing: 15px;
  }
  .my-majoy{
    font-size: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .about-me-image{
    height: 230px;
    width: 230px;
    border-radius: 150px;
    transition: 1s;
  }
  .about-title{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  }
  .about-content{
    font-size: 18px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .middle{
    height: 350px;
    transition: 1s;
  }
  .middle1{
    height: 350px;
    transition: 1s;
  }
  
  .middle2{
    height: 400px;
    transition: 1s;
  }
  .my-degree-image{
    height: 210px;
    width: 210px;
    border-radius: 150px;
    transition: 1s;
  }
  .my-degree-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  }
  .my-degree-content{
    font-size: 18px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
}

@media screen and (max-width: 768px){
  .header{
    height: 450px;
    transition: 1s;
  }
  .name-title{
    font-size: 50px;
    letter-spacing: 15px;
  }
  .my-majoy{
    font-size: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .about-me-image{
    height: 210px;
    width: 210px;
    border-radius: 150px;
    transition: 1s;
  }
  .about-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  }
  .about-content{
    font-size: 16px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .middle{
    height: 350px;
    transition: 1s;
  }
  .middle1{
    height: 350px;
    transition: 1s;
  }
  
  .middle2{
    height: 350px;
    transition: 1s;
  }
  .my-degree-image{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    transition: 1s;
  }
  .my-degree-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  }
  .my-degree-content{
    font-size: 14px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .btn-connect{
    background-color: aqua;
    border: none;
    padding: 7px 20px 7px 20px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 576px){
  .header{
    height: 500px;
    transition: 1s;
  }
  .name-title{
    font-size: 40px;
    letter-spacing: 7px;
  }
  .my-majoy{
    font-size: 20px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .about-me-image{
    height: 210px;
    width: 210px;
    border-radius: 150px;
    transition: 1s;
  }
  .about-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  }
  .about-content{
    font-size: 16px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .resText{
    text-align: center;
    margin: 10px 0 10px 0;
  }
  .middle{
    height: 550px;
    transition: 1s;
  }
  .middle1{
    height: 550px;
    transition: 1s;
  }
  
  .middle2{
    height: 750px;
    transition: 1s;
  }
  .my-degree-image{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    transition: 1s;
  }
  .my-degree-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  }
  .my-degree-content{
    font-size: 14px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .btn-connect{
    background-color: aqua;
    border: none;
    padding: 7px 20px 7px 20px;
    transition: 0.5s;
  }
}

@media screen and (max-width: 320px){
  .header{
    height: 600px;
    transition: 1s;
  }
  .name-title{
    font-size: 30px;
    letter-spacing: 10px;
  }
  .my-majoy{
    font-size: 18px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .about-me-image{
    height: 210px;
    width: 210px;
    border-radius: 150px;
    transition: 1s;
  }
  .about-title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  }
  .about-content{
    font-size: 16px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .resText{
    text-align: center;
    margin: 10px 0 10px 0;
  }
  .middle{
    height: 550px;
    transition: 1s;
  }
  .middle1{
    height: 550px;
    transition: 1s;
  }
  
  .middle2{
    height: 750px;
    transition: 1s;
  }
  .my-degree-image{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    transition: 1s;
  }
  .my-degree-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fff;
  }
  .my-degree-content{
    font-size: 14px;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
  }
  .btn-connect{
    background-color: aqua;
    border: none;
    padding: 7px 20px 7px 20px;
    transition: 0.5s;
  }
}